body{
    background-color: white;
}
.navigation__pricipal{
    margin: 0 15%;
}
.redirections>.redirection__vieux_moulin{
    display: inline;
    margin: 0 0 5% 5%;
    font-size: 3rem;
    align-items: baseline;
    width: auto;
}
.img__vieux__moulin{
    width: 5%;
    height: auto;
    margin-top: 5%;
}
select{
    background-color: white;
    border: none;
    font-size: 3rem;
    width: auto;
    margin-right: -10%;
}